/* 1. 제목 및 부제목 */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin: auto;
  position: static;
  top: 20xp;
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  height: auto;
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  /* margin-left: 25px; */
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 30px;
  width: 100%;
  height: auto;
}

/* 2. Input 및 Textarea  */
input {
  margin: 5px;
  width: auto;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
}

textarea {
  margin: 5px;
  width: auto;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-size: 14px;
  resize: none;
  outline: none;
}

.input label,
.textarea label {
  margin: 5px;
  width: auto;
  height: auto;
  border: 1px solid darkgray;
  border-radius: 2px;
  font-size: 14px;
}

/* 3. 파일 버튼 */
input[type='file'] {
  display: none;
}

.file.item {
  display: flex;
  align-items: center;
  gap: 0.8em;
  margin-bottom: 0.7em;
}

.file.item .text {
  color: #868e96;
}

.file-label {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ced4da;
  border-radius: 4px;
}

.file-label > img {
  width: 50%;
  height: 50%;
}

/* 4. 저장버튼 */
button {
  all: unset;
  padding: 0.5em 1em;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 5em;
}

/* 5. Grid */
#container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 210px));
  grid-template-rows: repeat(3, minmax(auto, 50px));
  gap: 100px;
  margin: 50px;
}

#container > .item {
  color: gray;
}
