/* 1. 제목 및 부제목 */
.title {
}

.subtitle {
}

/* 2. Input 및 Textarea  */
input {
}

textarea {
}

.input label,
.textarea label {
}

/* 3. 파일 버튼 */
input[type='file'] {
  display: none;
}

.file-label {
}

/* 4. 저장버튼 */
button {
}

/* 5. Grid */
#container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 210px));
  grid-template-rows: repeat(3, minmax(auto, 50px));
  gap: 100px ;
  margin: 50px;

}

#container > .item {
 color: gray;
}
